.main-header > h1{
  color: rebeccapurple;
}
.main-header > p{
  font-style: oblique;
  font-size: 20px;
  color: burlywood;
}
.history-section > p{
  font-size: 29px;
  color: darkblue;
}

.list-section > ul:{
  list-style: none;
}

.list-section > ul > li:nth-child(3){
  color: crimson;
}